# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# MLflow
mlruns/

# Models
models/*.pkl
models/*.joblib

# Logs
logs/
*.log

# Environment
.env

# Coverage
.coverage
htmlcov/

# Build
dist/
build/
*.egg-info/

# Cache
.pytest_cache/
.mypy_cache/